doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Title
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

      .container
        .row.h1
          h1 EX-And-OH
        .row.loginForm
          form
            label(for="username") Username
            input(type="text" id="newUser" required)
            input(type="button" value="Play" id="createUser")

        .row.welcomePlayers


        .row.gameBoard
          button.newGame New Game

       .row
          .output

        .row
          .clickOutput

      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild